<div class="card">
  <div class="card-body">
    <div class="card-title d-flex justify-content-between mb-4">
      <h3>
        <span>
         Projects
        </span>
      </h3>
      <%= link_to 'New Project', new_project_path, class: 'btn btn-outline-primary' %>
    </div>

    <% @projects.each do |project| %>
      <%= link_to project, class: 'text-decoration-none' do %>
        <div class="card mb-3 project-card">
          <div class="card-body">
            <div class="mb-3">
              <span class="badge bg-<%= project.badge_color %>"><%= project.status %></span>
              <span class="text-secondary">
                <small>
                  <%= project.percent_complete %>% complete
                  (<%= project.total_complete %>/<%= project.total_tasks %> tasks)
                </small>
              </span>
            </div>
            <h4 class="card-title text-dark"><%= project.name %></h4>
            <p class="text-secondary"><%= project.description %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>






